<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rafad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bar"></activity>
        <activity android:name=".mainChat22_" />
        <activity android:name=".chat" />
        <activity android:name=".chatTutorial" />
        <activity
            android:name=".AdapterD"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".requests"
            android:label="@string/title_activity_requests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListViewAdaptorBen"
            tools:ignore="Instantiatable" />
        <activity android:name=".post3" />
        <activity
            android:name=".HistoryItemAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".changePasswordDon" />
        <activity android:name=".homePageAdminBase" />
        <activity android:name=".adminMainProfile" />
        <activity android:name=".homepageDonator" />
        <activity android:name=".homepageAdmin" />
        <activity android:name=".MainChat" />
        <activity android:name=".BenMainProfile" />
        <activity android:name=".donProfile" />
        <activity android:name=".homePage" />
        <activity android:name=".benEditProfile" />
        <activity android:name=".benChangePass" />
        <activity android:name=".forgetp" />
        <activity android:name=".signupDon" />
        <activity android:name=".signupBen" />
        <activity android:name=".login" />
        <activity android:name=".mainProfile" />
        <activity android:name=".signUpBase" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>